<!DOCTYPE html>
<html style="height:100%">
	<head>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<title>Admin page</title>
	</head>
	<body style="font-family:'Calibri'; text-align: center; height:100%">
		<div class="vertical-align-middle">
		<h1 style="color:#000000; font-size:40px;">Admin page</h1>
		<form name="input" action="/" method="get">
			<fieldset>
			<label for="name">Please enter hashed string:</label>
			<input type="number" id="name" name="name" placeholder=""/>
			<input type="submit" value="Submit">
			</fieldset>
		</form>
		
	</body>
</html>
