<!DOCTYPE html>
<html style="height:100%">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link type = "text/css" rel = "stylesheet" href = "css/style.css" />
	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	<ul>
		<li class="active"><a href="#" id = Home data-toggle = "tab">Home</a></li>
		<li><a href="#" id = Admin data-toggle = "tab">Add Job</a></li>
		<li><a href="#" id = Hashing data-toggle = "tab">Contribute to Hashing</a></li>
	</ul>
	<script>
		$(document).on("click", "#Home", function(){
			window.location = '/';
		});
		$(document).on("click", "#Admin", function(){
			window.location = '/admin';
		});
		$(document).on("click", "#Hashing", function(){
			window.location = '/hashing';
		});
	</script>
	
	<title>String Hasher</title>
	</head>
	<body style="font-family:'Calibri'; text-align: center; height:100%">
		<div class="vertical-align-middle">
		<h1 style="color:#000000; font-size:40px;">String Hasher</h1>
		<button type = "button" id="start" style="background:#DFEFF0; color:#000000; border-radius:20px; font-family:'Calibri'; font-size:20px;"><strong>Start Hashing</strong></button>
		{{hashString}}
		</div>
		<script>
			$(document).on("click", "#start", function(){
				window.location = '/hashing';
			});
		</script>

	</body>
</html>
