<!DOCTYPE html>
<html style="height:100%">
	<head>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<title>Results</title>
	</head>
	<body style="font-family:'Calibri'; text-align: center; height:100%">
		<div class="vertical-align-middle">
		<h1 style="color:#000000; font-size:40px;">Results</h1>
	</body>
</html>
